<div class="row">

  <table class="table table-striped">
    <tr>
      <th width="25%">Estudio</th>
      <th width="10%">Año</th>
      <th width="15%">Colegio</th>
      <th width="40%">Detalle formación</th>
      <th width="10%" colspan="2">Acciones</th>
    </tr>
    <tr>
      <td><input type="text" ng-model="vm.title" id="title" placeholder="Título" class="form-control" /></td>
      <td><input type="text" ng-model="vm.year" id="year" name="year" placeholder="Año" class="form-control" /></td>
      <td><input type="text" ng-model="vm.school" id="school" name="school" placeholder="Colegio" class="form-control" /></td>
      <td><input type="text" ng-model="vm.content" id="content" placeholder="Contenido" class="form-control" /></td>
      <td colspan="2">
        <a href="" ng-click="vm.createStudy(vm)" type="submit" ng-disabled="!vm.enable" class="btn btn-primary">Crear estudio</a>
      </td>
    </tr>
    <tr ng-repeat="study in vm.studies">
      <td ng-bind-html="study.title.rendered"></td>
      <td>{{study.year[0]}}</td>
      <td>{{study.school[0]}}</td>
      <td ng-bind-html="study.content.rendered"></td>
      <td>
        <a href="#/study/{{study.id}}" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></a>
      </td>
      <td>
        <a ng-click="vm.deleteStudy(study.id)" ng-disabled="!vm.enable" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
      </td>
    </tr>
  </table>

</div>
